.LnnmANqsmU {
    width: 100%;
    height: 50px;
    background-color: #4096ff;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0 10px;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    color: #ffff;
    font-size: 12px;
}

.biOoNRMTcn {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.biOoNRMTcn>nav.ant-breadcrumb.css-dev-only-do-not-override-1wazalj>ol>li>a,
.biOoNRMTcn>nav.ant-breadcrumb.css-dev-only-do-not-override-1wazalj>ol>li {
    font-weight: 600;
    color: #ffff;
    font-size: 12px;
    line-height: 2;
}

.ant-breadcrumb a:hover {
    background: #fff;
    color: #000 !important;
}

.noNeJumIOX {
    display: flex;
    align-items: center;
}


.noNeJumIOX>div {
    width: 24px;
    height: 24px;
    margin: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}