.steps-action {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 20px 100px;
}

.steps-content {
  margin: 5px 0.5em;
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #d9d9d9;
  padding: 5px 10px;
}

.zEJxSpaQzN {
  margin: 0;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  margin-bottom: 10px;
  padding: 5px 0;
  border-radius: 5px;
}

.ant-upload-list-item-container {
  width: 150px !important;
  height: 150px !important;
}

.ant-upload.ant-upload-select {
  width: 150px !important;
  height: 150px !important;
}

.xFBNdWfdEL {
  padding: 5px 0;
  color: rgba(0, 0, 0, 0.88);
  font-size: 14px;
}

.eDLLPDyUUY {
  display: flex;
}

.eDLLPDyUUY > div {
  margin-right: 2.5px;
}

.eDLLPDyUUY > button {
  margin-left: 2.5px;
}

.GwWbFfyEWm {
  margin: 5px 0;
}

.XNnGAmPRak {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: bold;
}

.WvLXmbGjwb {
  margin: 5px 0;
}

.IZVwDavfYt {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.EwblpaILoe {
  width: 220px;
  height: 220px;
  padding: 5px;
  list-style: none;
  overflow: hidden;
}

.EwblpaILoe > input[type="radio"] {
  display: none;
}

.EwblpaILoe > label {
  height: calc(100% - 2px);
  position: relative;
  display: block;
  overflow: hidden;
  border-radius: 5px;
  text-align: center;
  background-color: #f8f8f8;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.EwblpaILoe > label > img {
  width: 100%;
  height: 100%;
  cursor: pointer;
  object-fit: scale-down;
}

input[type="radio"]:not(:checked) + label {
  border: 3px solid rgba(50, 50, 93, 0.25);
}

input[type="radio"]:checked + label {
  border: 3px solid rgb(43, 255, 0);
}

.lgvNbwrkVm {
  width: 70vw !important;
  min-width: 1000px !important;
  height: 90vh;
  top: 5vh;
}

.lgvNbwrkVm div.ant-modal-content {
  width: 100%;
  height: 100%;
}

.lgvNbwrkVm div.ant-modal-confirm-content {
  margin-inline-start: 0px !important;
  margin-block-start: 5px !important;
  flex-basis: 100% !important;
  max-width: calc(100% - 0px) !important;
}

.lgvNbwrkVm div.ant-modal-body {
  width: 100%;
  height: calc(100% - 32px);
  overflow-x: hidden;
}

.qtIwCqavrN div.ant-modal-body {
  height: calc(100% - 88px);
  padding: 10px 0;
}

.lgvNbwrkVm div.ant-modal-confirm-btns,
.qtIwCqavrN > div.ant-modal-content > div.ant-modal-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  display: block;
  margin: 0;
  background-color: #d9d9d9;
  padding: 8px 70px;
  border-top: 2px solid rgb(60 64 67 / 30%);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: rgb(60 64 67 / 30%) 0px 1px 2px 0px,
    rgb(60 64 67 / 15%) 0px 2px 6px 2px;
}

.ant-table-cell .ant-image-mask {
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  opacity: 1;
}

.JBTgnyksJY {
  border: 2px solid #f1f1f1;
  border-radius: 6px;
  box-shadow: rgb(0 0 0 / 7%) 0px 1px 2px, rgb(0 0 0 / 7%) 0px 2px 4px,
    rgb(0 0 0 / 7%) 0px 4px 8px, rgb(0 0 0 / 7%) 0px 8px 16px,
    rgb(0 0 0 / 7%) 0px 16px 32px, rgb(0 0 0 / 7%) 0px 32px 64px;
}

.gVXWWSAXjo {
  width: 100%;
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
}

.gVXWWSAXjo > label {
  margin-inline-start: 0px !important;
  padding: 5px 2px;
}

.qtIwCqavrN > div.ant-modal-content {
  padding: 10px 24px;
}

.LOBMdQYGDq {
  display: block;
  width: 100%;
  height: 24px;
  line-height: 24px;
  padding: 5px 0px;
  text-align: center;
  position: relative;
}

.LOBMdQYGDq:after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 25%;
  width: 50%;
  height: 1px;
  border-bottom: 2px solid #008aff;
}

.TgDKcrbwYh {
  font-size: 24px;
  color: #008aff;
  position: absolute;
  padding: 5px 0px;
  top: 0;
  left: 0;
}

.uIVZlkTETe {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
}

.uIVZlkTETe > div:first-child {
  font-size: 16px;
  color: #001529;
  font-family: serif;
  margin: 0;
}

.yzlFQaVhSY {
  width: 100%;
  height: auto;
  background: #ffffff;
  padding: 5px 10px;
  margin: 5px 0;
  box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
  border-radius: 7px;
  display: block;
}

.yzlFQaVhSY > div.ant-divider {
  margin: 5px 0;
}

.FDHdLqAnIq {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.FDHdLqAnIq > div.ant-form-item {
  width: 33.33%;
  min-width: 300px;
  padding: 0 10px;
}

.FDHdLqAnIq
  > div.ant-form-item
  > div.ant-row.ant-form-item-row
  > div.ant-col.ant-form-item-control:hover {
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.fqfiayuvRK {
  width: 100%;
  height: auto;
  display: flex;
}

.fqfiayuvRK > div.ant-space-item:nth-child(1) {
  width: calc(100% - 30% - 70px);
  height: auto;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
}

.fqfiayuvRK > div.ant-space-item:nth-child(2) {
  width: 70px;
  text-align: center;
}

.fqfiayuvRK > div.ant-space-item:nth-child(3) {
  width: calc(100% - 70%);
  text-align: center;
}

.fqfiayuvRK > div.ant-space-item > img {
  max-width: 70px;
  width: 100%;
  height: auto;
}

.fqfiayuvRK > div.ant-space-item:nth-child(0) > span {
  width: 100%;
  height: auto;
  white-space: nowrap;
  overflow: hidden;
  display: block;
}

.BowuLnSaks
  > div
  > div.rc-virtual-list
  > div.rc-virtual-list-holder
  > div
  > div.rc-virtual-list-holder-inner
  > div.ant-select-item
  > span.ant-select-item-option-state
  > span {
  position: absolute;
  right: 0px;
  top: 0;
  border-color: #52c41a #52c41a#ffffff00 #ffffff00;
  border-style: solid;
  border-width: 15px 15px 15px 15px;
  border-top-right-radius: 6px;
}

.BowuLnSaks
  > div
  > div.rc-virtual-list
  > div.rc-virtual-list-holder
  > div
  > div.rc-virtual-list-holder-inner
  > div.ant-select-item
  > span.ant-select-item-option-state
  > span
  > svg {
  position: absolute;
  left: -1px;
  bottom: -1px;
  color: #ffffff;
}

.BowuLnSaks
  > div
  > div.rc-virtual-list
  > div.rc-virtual-list-holder
  > div
  > div.rc-virtual-list-holder-inner
  > div.ant-select-item {
  margin: 1px 0;
  border-radius: 6px;
}

.kmUFIlpTwE {
  margin: 0;
  height: 100%;
}

.kmUFIlpTwE > .ant-tabs-content-holder {
  padding: 10px;
  border: 1px solid #d9d9d9;
  border-top: none;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  background-color: #ffffff;
  overflow-y: scroll;
}

.kmUFIlpTwE > .ant-tabs-nav {
  margin: 0;
  height: 24px;
  padding: 0 10px;
}

.ant-divider {
  margin: 6px 0;
}

.TFHYlZZpkr {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  align-content: center;
  flex-wrap: wrap;
}

.TFHYlZZpkr > button {
  margin: 0 3px;
}

.eEHkFSvSqm {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  width: 100%;
}